*{
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out; 
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #7B9C98;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #72908D;
  font-size: 32px;
  font-weight: 900;
  color: #EAF1F3;
}

#scoreboard{
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
h2.score-info{
  color: #495755;
  font-size: 30px;
  font-weight: 900;
}
h3.score-message{
  color: #495755;
  font-size: 25px;
  font-weight: 900  ;
}

.score-container{
  margin-top: 60px;
  display: flex;
  gap: 200px;
  justify-content: center;
}

.score-box{
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign{
  font-size: 70px;
  color: #EAF1F3;
  font-weight: bolder;
}
.score{
  font-size: 20px;
  color: #EAF1F3;
  font-weight: bolder;
}



button{
  box-shadow: 0 5px 7px rgb(0 0 0 / 35%) ;
  width: 200px;
  height: 200px;
  font-size: 50px;
  background-color: #72908D;
  border: 5px solid #495755;
  border-radius: 25px;
  margin: 10px;
}

button:hover{
  transform: translateY(-0.2rem);
  background-color: #EAF1F3;
  cursor: pointer;
  box-shadow: 10px 10px 5px rgb(0 0 0 / 35%);
}